

<mat-toolbar color="primary">
  
  <span style="margin-right: 10px;">Admin panel</span>
  <button mat-raised-button color="accent" (click)="logout()">logOut</button>
  <span class="example-spacer"></span>
  <button routerLink="/admin/home" style="margin-right: 10px" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button routerLink="/admin/about" style="margin-right: 10px" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>group</mat-icon>
  </button>
  <button routerLink="/admin/cantact" style="margin-right: 10px" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>phone</mat-icon>
  </button>
</mat-toolbar>