<div class="login--box">
<mat-card class="login-com">
    <mat-card-title style="color: #bebebe;">create a new product</mat-card-title>
    <mat-card-content>
    <form [formGroup]="product" (ngSubmit)="onSubmit()">
            
        <mat-form-field style="width: 100%;" appearance="standard">
            <mat-label>Enter title</mat-label>
            <input matInput autocomplete="off" placeholder="Enter title" formControlName="title">
          </mat-form-field>
          <mat-form-field style="width: 100%;" appearance="standard">
            <mat-label>Enter description</mat-label>
            <input matInput autocomplete="off" placeholder="Enter description" formControlName="description">
          </mat-form-field>
          <mat-form-field style="width: 100%;" appearance="standard">
            <mat-label>Enter price</mat-label>
            <input matInput autocomplete="off" type="number" placeholder="Enter price" formControlName="price">
          </mat-form-field>
          <mat-form-field style="width: 100%;" appearance="standard">
            <mat-label>Enter image url</mat-label>
            <input matInput autocomplete="off" type="url" placeholder="Enter image url" formControlName="image">
          </mat-form-field>
        
        <button mat-raised-button color="accent">Submit</button>
    </form>
    <p class="login--account">Already have an account: <a routerLink="/login"> Login</a></p>
</mat-card-content>
</mat-card>
</div>